:root {
  --blue: #1e90ff;
  --red:  #FF0000;
}

body {
  font-family: Arial, sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0099ff, #22cc88);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  z-index: -1;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 5px;
}

ul {
  display: grid;
  gap: 1rem;
}

.Main {
  align-self: center;
  padding: 0;
}

.Card-Grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  padding: 0;
}

li {
  /* max-width: 20rem; */
  /* max-height: 10rem; */
  list-style-type: none;
  background-color: rgba(1, 1, 1, 0.4);
  border-radius: 5px;
  padding: 10px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 255, 0.4); */
}
.todoTitle {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  display: flex;
  justify-content: center;
}

li span {
  color: white;
  width: 100%;
}

li input {
  word-wrap: break-word;
  width: 10rem;
  height:  2rem;
  color: white;
  background-color: transparent;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1.3rem;
}

li p {
  color: white;
  white-space: normal;
  cursor: pointer;
}

/* li p [type="checkbox"] { */
/*   margin-right: 10px; */
/* } */

li button {
  background: none;
  border: none;
  cursor: pointer;
}

li div {
  width: 100%;
}

li button:hover {
  color: #da190b;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

form input {
  /* padding: 10px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 5px; */
  width: 30rem;
  height: 3rem;
  color: #333;
  background-color: #fff;
  border-color: black;
  font-size: 1.3rem;
}

.addButton,
.clearButton {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.addButton {
  background-color: #4caf50;
}

.addButton:hover {
  background-color: #45a049;
}

.deleteButton {
  /* background-color: #ff00f2; */
  background-color: var(--red);
}

.deleteButton:hover {
  background-color: #00ffffad;
}

.editButton {
  /* background-color: #ff00f2; */
  background-color: var(--blue);
}

.editButton:hover {
  background-color: #00ffffad;
}

.clearButton {
  background-color: #f44336;
}

.clearButton:hover {
  background-color: #da190b;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Styles for screens up to 600px wide */
  .main-container {
    /* Adjust styles for smaller screens */
    height: auto;
  }

  li p {
    /* Adjust styles for smaller screens */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    text-align: center;
  }

  li button {
    /* Adjust styles for smaller screens */
    align-items: center;
  }

  .Card-Grid {
    /* Adjust grid layout for smaller screens */
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /* Styles for screens between 601px and 1200px wide */
  /* Add your specific styles here */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
